# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment & config files
.env
*.env
*.yaml

# VSCode settings (optional)
.vscode/
